applications:
  backend:
    type: nodejs:20
    source:
      root: "backend"
    build:
      flavor: none
    hooks:
      build: |
        npm ci
    web:
      commands:
        start: node server.js
    relationships:
      postgresql:
        service: postgresql
        endpoint: postgresql

services:
  postgresql:
    type: postgresql:15