applications:
  frontend:
    type: nodejs:20
    source:
      root: "frontend"
    build:
      flavor: none
    hooks:
      build: |
        npm ci
        npm run build
    web:
      commands:
        start: npm run preview --port 3000 --host 0.0.0.0
      locations:
        "/":
          root: "dist"
          expires: 1h
          passthru: true

  backend:
    type: nodejs:20
    source:
      root: "backend"
    build:
      flavor: none
    hooks:
      build: |
        npm ci
    web:
      commands:
        start: node server.js
    relationships:
      postgresql:
        service: postgresql
        endpoint: postgresql

services:
  postgresql:
    type: postgresql:15

routes:
  "https://{default}/":
    type: upstream
    upstream: "frontend:http"
    
  "https://{default}/api/":
    type: upstream
    upstream: "backend:http"