# .upsun/config.yaml
applications:
  frontend:
    type: nodejs:20
    source:
      root: "frontend"
    build:
      flavor: none
    hooks:
      build: |
        cd ../
        npm ci --prefix frontend
        npm run build --prefix frontend
    web:
      locations:
        "/":
          root: "frontend/dist"
          index: ["index.html"]
          expires: 1h
          scripts: false
          allow: false
          passthru: "/index.html"  # SPA fallback!
        "/assets":
          root: "frontend/dist/assets"
          expires: 1y
          scripts: false

  backend:
    type: nodejs:20
    source:
      root: "backend"
    build:
      flavor: none
    hooks:
      build: |
        npm ci
    web:
      commands:
        start: node server.js
      upstream:
        socket_family: tcp
    relationships:
      database:
        service: postgresql
        endpoint: postgresql

services:
  postgresql:
    type: postgresql:15

# RUTE NA ROOT RAZINI
routes:
  "https://{default}/":
    type: upstream
    upstream: "frontend:http"
  "https://{default}/api/":
    type: upstream
    upstream: "backend:http"